
.jumbotron{

background-color: #B9B9AA;
color: black;
height: 50px;
margin-top: 50px;
}

h2{
    background-color: black;
    	}    	 

.der{

    background-color: red;
    	}	

.cen{

    background-color: green;
    	}	

.izq{

    background-color: orange;
    	}

.card-hotel{
    flex: 1 150px;
    padding: 3px 8px 8px 3px;
    margin-top: 10px;
}

footer{
    margin-top: 10px;
    background-color: #CED36B;
    padding: 10px 10px 0 10px;

}

.btn-reserva{
    width: 100%;

}
.footer-address-icon {
    padding-right: 10px;

}